main {
  margin: 0;
  flex-direction: column;
}

img,
video {
  height: auto;
  max-width: 100%;
}

/*///////////////////////////container codeur ////////////////////////*/
.main-gallery {
  display: flex;
  flex-direction: column;
}

/*/////////portfolio//////*/
.portfolio {
  max-width: 1440px;
  margin: 30px auto;
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 500px);
}

.portfolio__project {
  padding-bottom: 80px;
  max-width: 600px;
}
.portfolio__project__header {
  position: relative;
  overflow: hidden;
}
.portfolio__project__type {
  font-size: 15px;
  spacing-letter: 6px;
  color: #f7f1ed;
  display: flex;
  justify-content: flex-end;
}

.portfolio__project__titre {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.portfolio__project__titre__nom,
.portfolio__project__titre__num {
  font-family: "Kumar One", sans-serif;
  font-size: 30px;
  line-height: 60px;
  spacing-letter: 6px;
  color: #0ae9bc;
}

.portfolio__project__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.portfolio__project__button a {
  text-decoration: none;
  color: #fff;
}
.portfolio__project__img {
  position: relative;
  overflow: hidden;
}

.div-btn-more {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  text-decoration : none;
}

.separator {
  height: 2px;
  background-color: #f7f1ed;
}

/*///////////////BTN/////////////////////////*/

.call-btn-active {
  display: inline-block;
  text-align: center;
  background-color: #3d5a5b;
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.call-btn-active .call-btn-active-send {
  display: inline-block;
  background: #2f365f;
  color: #f7f1ed;
  border: 3px solid #f7f1ed;
  padding: 18px;
  border-radius: 0.75rem;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.15s ease-out, color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.call-btn-active:hover .call-btn-active-send {
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #0ae9bc;
}

.call-btn {
  display: inline-block;
  text-align: center;
  background-color: #0ae9bc;
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.call-btn .call-btn-send {
  display: inline-block;
  background: #f7f1ed;
  color: #2f365f;
  border: 3px solid #2f365f;
  padding: 18px;
  border-radius: 0.75rem;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.15s ease-out, color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.call-btn:hover .call-btn-send {
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #ff93c7;
}

.btn-more {
  max-width: 400px;
  padding: 30px 32px;
  background-color: #0ae9bc;
  border: 3px solid #2f365f;
  border-radius: 2px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 100px;
  text-decoration: none;
  border-radius: 0.75rem;
}

.btn-more:hover {
  transition: 0.2s;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #ff93c7;
  text-decoration: none;
}

