main {
  flex-direction: column;
}

.main_top {
  display: flex;
  justify-content: space-around;
}

.top-post-sidebar {
  font-size: 90px;
  color: #0ae9bc;
  text-shadow: 0.1em 0.1em #2f365f;
  margin: 30px 0;
  position: absolute;
  left: 10%;
}

.description_top_id {
  left : 15%;
}

.top-post_bottom {
  display: flex;
  justify-items: center;
  margin: 80px 30px;
  font-size: 20px;
  color: #2f365f;
  line-height: 1.6;
  text-transform: none;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.sidebar_top {
  display: flex;
  margin-bottom: 30px;
}

.repeating-linear {
  width: 60%;
}

.sidebar_bottom {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width:  766px){
  main {
    margin : 0 20px;
  }
  
  .main_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #sidebar {
    width : 100%;
  }

  .top-post-sidebar, .sidebar_left {
    display : none;
  }
  .top-post_bottom {
    margin : 10px 30px;
    align-items : center;
  }
}

/*///////////////////FORMULAIRE//////////////*/
.formulaire {
  margin-top : 30px;
  
}

.form-title {
  margin-bottom: 3.5rem;
  text-align: center;
  font-size: 22px;
  line-height: 1.2em;
  color: #2f365f;
  text-shadow: 0.1em 0.1em #0ae9bc;
}

.contact_form {
  margin-left: 60px;
  width: 80%;
}

.contact_form-box {
  display : flex;
  justify-content : space-between;
  gap : 20px;
}

.contact_form-box1, .contact_form-box2 {
  width : 50%;
}

.contact_form-container {
  height: 4rem;
  margin-bottom: 3rem;
  position: relative;
}

.contact_form-tag {
  background-color: var(--body-color);
  font-size: 20px;
  left: 1.25rem;
  padding: 0.25rem;
  position: absolute;
  bottom: 3.75rem;
  color: #f7f1ed;
  text-transform: none;
}

.contact_form-input {
  background: #f7f1edc9;
  border: 2px solid #f7f1ed;
  border-radius: 0.75rem;
  color: black;
  height: 100%;
  left: 0;
  outline: none;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: "Aboreto", cursive, sans-serif;
}

.tag_projet {
  top: -1.9rem;
}

.contact-area {
  height: 11rem;
}
.contact-area textarea {
  resize: none;
}




/*///////////////////btn envoyer//////////////*/

.button_link {
  display: inline-block;
  text-align: center;
  background-color: #2f365f;
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30%;
}

/*utiliser transform ne fontionne pas sur element inline */
.button_link .button_link-send {
  display: inline-block;
  background: #2f365f;
  color: #f7f1ed;
  border: 1px solid #f7f1ed;
  padding: 18px;
  border-radius: 0.75rem;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.15s ease-out, color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.button_link:hover .button_link-send {
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #0ae9bc;
}



/*///////////////////CONTENT //////////////*/
.main_bottom {
  display: flex;
  margin: 30px;
  }

 
#content1,
#content3 {
  display : flex;
  align-items: flex-start;
  justify-content: center;
  background: #f7f1ed;
  border: 2px solid #f7f1ed;
  box-shadow: 7px 8px 0px 0px #3d5a5b;
  padding: 20px;
  width : 40%;
}

#content2 {
  padding : 10px;
  width : 35%;
}

.contact_link,
.contact_insta {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  padding: 10px;
  color: #3d5a5b;
  font-size: 15px;
  letter-spacing: 6px;
}

.ctn2_img {
  width: 100%;
  rotate: -90deg;
}

/*///////////////////FOOTER MODIF//////////////*/
a {
  text-decoration : none;
}

.linkedin, .instagram {
  font-size : 15px;
  text-transform:none;
  color : #3d5a5b;
}


span.link_contact {
  font-size : 10px;
  text-transform : none;
}

@media screen and (min-width: 320px) and (max-width:  766px){
  .form-title {
    font-size : 17px;
  }
  .contact_form-box {
    flex-direction : column;
    }
  .contact_form-box1, .contact_form-box2 {
    width : 100%;
  }
  .main_bottom {
    gap : 20px;
  }
  #content1, #content3 {
    padding : 10px;
    width : 50%;
  }
  h3, .linkedin, .instagram {
    font-size : 12px;
  }
  #content2 {
    position : absolute;
  }
  
}

