p, h2 {
  color: #3d5a5b;
}



.paraf1 {
  transition-delay: 0.2s;
}

.paraf2 {
  transition-delay: 0.5s;
}

.paraf3 {
  transition-delay: 0.8s;
}

/*main*/

.top-post-description {
  display: flex;
  flex-direction: column;
}

.repeating-linear3 {
  display : flex;
  margin-left : 40px;
  margin-top: 30px;
  height: 500px;
  background: repeating-linear-gradient(
    -45deg,
    #3d5a5b,
    #3d5a5b 5px,
    transparent 5px,
    transparent 15px
  );
  box-shadow: 12px 12px 2px 1px #0ae9bc;
}

.description_experience {
  position : absolute;
  font-family: "roseblue", sans serif;
  color: #f7f1ed;
  text-shadow: 0.1em 0.05em #2f365f;
  text-transform: none;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: center;
  padding: 30px;
  margin: 40px 60px;
  line-height : 1.6rem;
}

/*sidebar*/

.sidebar {
  display : flex;
  flex-direction : column;
}

.repeating-linear4 {
  display : flex;
  margin-top: 60px;
  width: 150px;
    height: 150px;
    border-radius: 50%;
    background: repeating-linear-gradient( 45deg, #f7f1ed7a, #f7f1ed7a 5px, transparent 5px, transparent 10px );
    
  }

.description_image {
  width: 25%;
  position: absolute;
  top: 47%;
  left: 65px;
  
}

.description_loisir {
  background : #f7f1ed;
  box-shadow: 12px 12px 2px 1px #3d5a5b;
  display: flex;
  flex-direction: column;
  margin-top : 60px;
}


/*CONTENT*/

h2 {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.content1, .content3 {
  background : #f7f1ed;
  box-shadow: 12px 12px 2px 1px #3d5a5b;
  margin : 10px;
}
.content2, {
 border-color : #f7f1ed;
 box-shadow: 12px 12px 2px 1px #3d5a5b;
 margin : 10px;
}

.techno_model_graphic {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 30px;
  margin-bottom: 20px;
}

.techno_model_icone {
margin-left : 20px;
}

.logiciel {
  width: 20%;
  margin: 5px;
}

.fa-brands {    
    padding : 10px:
}

@media only screen and (max-width: 625px) {
  .top-post-description {
    display: flex;
    flex-direction: column;
  }
}
