h2.techno_model_font {
  color: #3d5a5b;
  font-size : 20px;
  margin-top : 20px;

}



.paraf1 {
  transition-delay: 0.2s;
}

.paraf2 {
  transition-delay: 0.5s;
}

.paraf3 {
  transition-delay: 0.8s;
}

/*main*/

main {
  display : flex;
  flex-direction : column;
}

.main_top {
  display: flex;
  background-color: #f7f1ed;
    box-shadow: 12px 12px 2px 1px #3d5a5b;
    margin: 17px;
    justify-content: space-between;
}

.description_container {
  width : 70%;
}

.description_experience {
  font-family: "Aboreto", cursive, sans-serif;
  color:#2f365f;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: center;
  padding: 30px;
  margin: 40px 60px;
  line-height : 1.6rem;
}



/*CONTENT*/
.description_image {
  width: 38%;
  display : flex;
  max-height: 600px;
  margin-top : 7%;
  margin-left : 30px;
  object-fit : cover;
}

.description_loisir {
  display: flex;
  flex-direction: column;
  margin-top : 60px;
  margin : 10px;
  align-items : center;
}

.loisir_tag {
  padding : 5px 0;
  font-size : 15px; 
}

.main_bottom {
  display : flex;
  margin-top : 50px; ;
}

h2 {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

#content1, #content2, #content3 {
  background : #f7f1ed;
  box-shadow: 12px 12px 2px 1px #3d5a5b;
  margin : 20px;
  width : 30%;
}

.loisir_tag {
  color : #3d5a5b;
}

.icone-loisir_tag {
  padding : 10px;
}

.techno_model_icone {
margin-left : 20px;
}

.logiciel {
  width: 30%;
    
}

.fa-brands {    
    padding : 10px:
}

@media screen and (min-width : 992px) and (max-width : 1138px){
  .description_image {
    max-height : 470px;
    margin-top : 24%;
  }
}

@media screen and (min-width : 767px) and (max-width: 991px){
  h2.font2 {
    margin-bottom : 25px;
  }

  .description_image {
    max-height : 382px;
    margin-top : 24%;
    width : 30%;
  }

  .description_experience {
    margin : 30px;
  }
}

@media screen and (min-width: 320px) and (max-width:  766px){
  main {
    margin : 30px 20px 0 20px;
  }
  .main_top {
    flex-direction : column; 
  }

  .description_image {
    max-height : 600px;
    margin-top : 24%;
    width : 30%;
  }

  .main_bottom {
    flex-direction : column;
    margin-top : 30px;
  }
  #content1, #content2, #content3 {
    width : 93%;
  }
  .logiciel {
    width : 15%;
  }
}

@media only screen and (max-width: 625px) {
  .top-post-description {
    display: flex;
    flex-direction: column;
  }
}
